<html>
    <head>
        <title>SGGT - RematchBuster</title>
        <link rel="icon" href="../../assets/icon/startggtracker256.png">
        <link rel="stylesheet" href="../../styles/main.css">
        <link rel="stylesheet" href="../../styles/forms.css">
        <link rel="stylesheet" href="../../styles/rematchbuster-form.css">
    </head>
    <body>
        <center>
            <div class = "content content-center">
                <div class = "form-column form-center">
                    <div class = "title">RematchBuster</div>
                    <div class = "subtitle">Give me the URL of an event (not the tournament, the event), a time period, and I'll tell you how many times (and when) the attendees of your event have played each other in that period, so you can avoid rematches when seeding the event.</div>
                    <%- include("./fragments/rematchbuster-form.html") %>
                </div>
            </div>
        </center>
        <script src="../../scripts/rematchbuster-form.js" type="module"></script>
    </body>
</html>