<html>
    <head>
        <title>SGGT - RematchBuster</title>
        <link rel="icon" href="../../icon/startggtracker256.png">
        <link rel="stylesheet" href="../../styles/main.css">
        <link rel="stylesheet" href="../../styles/forms.css">
        <link rel="stylesheet" href="../../styles/rematchbuster.css">
        <link rel="stylesheet" href="../../styles/rematchbuster-form.css">
    </head>
    <body>
        <center>
            <div class = "content-column">
                <%- include("./fragments/rematchbuster-form.html") %>
            </div>
        </center>
        <script src="../../scripts/rematchbuster.js" type="module"></script>
    </body>
</html>