<html>
    <head>
        <title>SGGT - RematchBuster</title>
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

        <link rel="icon" href="../../assets/icon/startggtracker256.png">
        <link rel="stylesheet" href="../../styles/main.css">
        <link rel="stylesheet" href="../../styles/forms.css">
        <link rel="stylesheet" href="../../styles/rematchbuster.css">
        <link rel="stylesheet" href="../../styles/rematchbuster-form.css">
    </head>
    <body>
        <div class = "sggt-outer-container">
            <a class = "sggt-inner-container" href="../../index.html"><img class = "logo" src="./../../assets/icon/startggtracker256.png"><span class ="sggt">SGGT</span></a>
            <div class = "pub">by TwilCynder</div>
        </div>
        
        <center>
            <div class = "form-column form-top">
                <%- include("./fragments/rematchbuster-form.html") %>
            </div>
            <div class = "result-content">
                <div class ="loading-container">
                    <div class="loader"></div>
                    <div class="loading-text">
                        Because of rate limitations on the start.gg API, this will take a few minutes. Please do not reload the page, it won't make it go faster (actually it will take even longer after reloading)
                    </div>
                </div>
                <div class ="result">
                    
                </div>
            </div>
        </center>
        <script src="../../scripts/rematchbuster.js" type="module"></script>
        <script src='https://storage.ko-fi.com/cdn/scripts/overlay-widget.js'></script>
        <script>
            kofiWidgetOverlay.draw('twilcynder', {
                'type': 'floating-chat',
                'floating-chat.donateButton.text': 'Support me',
                'floating-chat.donateButton.background-color': '#ff0000',
                'floating-chat.donateButton.text-color': '#fff'
            });
        </script>
    </body>
</html>

