<html>
    <head>
        <title>SGGT - RematchBuster</title>
        <link rel="icon" href="../../icon/startggtracker256.png">
        <link rel="stylesheet" href="../../styles/main.css">
        <link rel="stylesheet" href="../../styles/forms.css">
        <link rel="stylesheet" href="../../styles/rematchbuster.css">
        <link rel="stylesheet" href="../../styles/rematchbuster-form.css">
    </head>
    <body>
        <center>
            <div class = "form-column  form-top">
                <%- include("./fragments/rematchbuster-form.html") %>
            </div>
            <div class = "result-content">
                <div class ="loading-container">
                    <div class="loader"></div>
                    <div class="loading-text">
                        Because of rate limitations on the start.gg API, this will take a few minutes. Please do not reload the page, it won't make it go faster (actually it will take even longer after reloading)
                    </div>
                </div>
                <div class ="result">
                    YEEEEEEEEEEE
                </div>
            </div>
        </center>
        <script src="../../scripts/rematchbuster.js" type="module"></script>
    </body>
</html>