        <div class = "login-overlay-container">
            <div class = "login-overlay"></div>
            <div class = "login-container flex-center vertical">
                This pages requires start.gg login.
                <div class="startgg-login-button"><img src="/assets/startgg.ico" class="startgg-login-icon"/><span>Log in with Start.gg</span></div>
                <div class = "flex-center vertical" style="gap: 10px;">
                    <span>... or use an <a href="https://developer.start.gg/docs/authentication/">API Key</a></span>
                    <div class = "flex-center horizontal token-container">
                        <input type = "text" id="api-key-input" class = "token-input" name="apikey" required size="32" minlength="32" maxlength="32"/>
                        <input type="button" id="api-key-start-button" class = "button api-start-button" value="Start"/>
                    </div>
                </div>
            </div>
        </div>