<input class = "input" id="event" type="text">
<div class = "time-inputs-container">
    <div id="duration-mode-container">
        <input type="radio" name="periodMode" id="duration-mode" onchange="radioButtonOnChanged(this)"/>
        <label for="duration-mode">Check matches in the last <input disabled type="number" name="weeks" value=1 min="1" class="numberInput weeksInput timeInput" onchange="numberInputOnChange(this)"/> weeks</label>
    </div>
    
    <div id="date-mode-container">
        <input type="radio" name="periodMode" id="date-mode" onchange="radioButtonOnChanged(this)"/>
        <label for="date-mode">Check matches since <input type="date" class ="dateInput timeInput"></label>
    </div>
</div>
<div class ="event-filters-container">
    <div>Event filters <span class = "dropdown_button_container"><div class = "dropdown_button">▼</div></span></div>
    <div class ="event-filters-container-inner">
        Filtered keywords, separated by commas. Events with any of these keywords in their URL will be ignored
        <textarea class ="input event-filters" oninput="auto_grow(this)"></textarea>
        <div class="ignored-events"></div>
    </div>
</div>
<div class = "display-options-container">
    <div>Display Options <span class = "dropdown_button_container"><div class = "dropdown_button">▼</div></span></div>
    <div class = "display-options-container-inner">
        <div class = "stream-mode-container">
            <label for="stream-mode">Display mode</label> : <select name="stream-mode" id="stream-mode">
                <option value="none">Most sets played together</option>
                <option value="stream-pairs">Most sets played together on stream</option>
                <option value="stream-individual">Most sets played on stream (individual)</option>
            </select>
        </div>
        <div class = "invert-mode-container">
            <input type="checkbox" name="invert-mode" id = "invert-mode"/>
            <label for="invert-mode"> Show least played sets instead </label>
        </div>
        <div class = "event-count-mode-container">
            <input type="checkbox" name="event-count-mode" id="event-count-mode"/>
            <label for="event-count-mode" title="Different sets at the same event will onyle count for one"> Count events instead of sets </label>
        </div>
        <div class = "time-since-last-container">
            <input type="checkbox" name="time-since-last" id="time-since-last"/>
            <label for="time-since-last">Display time since last set</label>
        </div>
        <div class = "stream-name-container">
            <label for="stream-name">Only sets streamed on (leave blank for any channel) : </label>
            <input type="text" name="stream-name" id="stream-name"/>
        </div>
    </div>
</div>
<input type="button" id="GO" value="GO !" class="button"/>