body {
    font-family: "Saira", "Roboto", "Helvetica";
}

.main {
    width: 100%;
    height: fit-content;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 50px;

    padding: 30px;
    box-sizing: border-box;
}

.content {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    opacity: 100%;
    
}

.header {
    transition-property: all;   
    transition-duration: 0.5s;

    gap:10px;
}

.title {
    font-weight: bolder;
    font-size: 50px;
}

.subtitle {
    font-weight: bold;
    font-size: 30px;
}

.logo {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.separator {
    min-width: 40%;
    max-width: 60%;
    height: 0%;
    
    border: solid 2px grey;

    margin-top: 15px;
    margin-bottom: 15px;
}

.disclaimer {
    width: 600px;
    max-width: 100%;
    text-align: center;
}

#mode-select{
    display: none;
    opacity: 0;
    z-index: 12;

    height: 50vh;   
    width: 1200px;
    max-width: 80vw;
}

.mode-line {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 20px;

    width: 100%;
    height: 100%;
}

.mode-column {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    gap: 20px;

    width: 100%;
    height: 100%;
}

.mode-column.rematchbuster-column {
    flex-shrink: 2
}

.tracker-modes {
    flex-shrink: 1;

    border: solid 3px grey;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 10px;

    background-color: grey;
    color: white;
}

.tracker-modes .mode-area {
    color: black;
}

.mode-area {

    flex-grow: 1;
    background-color: #eeeeee;
    border-radius: 10px;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    

    padding: 15px;
}

.mode-area-title {
    font-size: 30px;
    font-weight: bold;
}

.mode-area-inputs-container {
    width: 80%;
    max-width: 36vw;
    min-width: 400px;
    height: 40%;
    max-height: 45px;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.mode-area-input-button {
    width: 50px;
    height: 100%;
    font-size: 15px;
}

#player-mode .mode-area-inputs-container {
    min-width: 350px;
    width: 350px;
}

.mode-area-input {
    width: 100%;
}

.mode-area-clickable:hover {
    
    cursor: pointer;
}

.rematchbuster-mode {
    background-color: #1460f7;
    color: white;
}

.rematchbuster-mode:hover {
    background-color: #6F90FF;
}


.station-mode {
    background-color: #FF2768;
    color: white;
}
/*
.station-mode:hover {
    background-color: #f85f8d;
}
*/

.station-mode-content {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    gap: 50px;

    width: 90%;
}

.station-area-input {
    width: 100%;
    height: 100%;
    max-width: 400px;
}

.station-area-inputs-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
     height: 22px;
    width: 100%;
}

.paragraph {
    width: 80%;
    text-wrap: pretty;
}

a {
    text-decoration: none;
}

.disconnect {
    position: absolute;
    top: 15px;
    right: 15px;
    padding: 8px;

    background-color: #eeeeee;
    border-bottom-left-radius: 10px;

    display: none;
    gap: 3px;
    align-items: center;
}

.disconnect:hover {
    cursor: pointer;
}

.text-sized-image {
    height: 1em;
}

#login {
    gap: 20px;
}