@font-face {
    font-family: Neuropolitical;
    src: url("../assets/neuropolitical.otf");
}

body {
    background-color: #E7E9EC;
    margin: 0;
    padding: 0;
}

.main-column {
    background-color: white;
}

.result-content {
    padding-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 100%;
}
.result {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    border: 1px solid grey;
    padding: 10px;
    margin-bottom: 50px;

    transition: width 0.3 ease;
}

.low-gap.result {
    gap: 0px;
}


.result-title {
    width: 100%;
    text-align: center;
    margin-bottom: 5px;
}

.closed {
    display: none;
}

.entry-title {
    font-weight: bold;
    cursor: pointer;
    display: flex;
    align-items: flex-start;
}

.entry-name {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.since-last {
    font-size: 0.8em;
    font-weight: normal;
}

.entry-details {
    display: flex;
    overflow-y: hidden;
    white-space: nowrap;
    height: 0px;
    width: 0px;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;

    transition: height 0.3s ease;
}

.entry-details.open {
    display: flex;
    width: fit-content;
}

.stream {
    font-size: 0.8em;
    line-height: 0.8em;
    margin-bottom: 6px;
}

.stream-name {
    color: purple;
    text-decoration: underline;
}

.dropdown-button-sideways {
    display: inline-block;
    margin-right: 5px;
    transition: all 0.3s ease;
}

.open .dropdown-button-sideways {
    transform: rotate(90deg);
}

.sggt-outer-container {
    position: fixed;
    top: 10px;
    left: 10px;

    display: flex;
    flex-direction: column;
}

.sggt-inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-decoration: none;
}

.sggt {
    font-size: 40px;
    font-family: Neuropolitical;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.logo {
    height: 40px;
}

.pub {
    font-size: 20px;
}

.cross-button {
    cursor: pointer;
}

.loading-container {
    height: 800px;
}

