.content-container {
    height: calc(100% - var(--header-height) - 35px);
}

.stations-content {
    height: 100%;

    display: none;
    flex-direction: row;
    overflow: auto;
    flex-wrap: wrap;
    gap: 10px;
    row-gap: 30px;
    padding: 15px;
    box-sizing: border-box;
    justify-content: center;
}

.event-input-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-size: 20px;
    font-weight: bold;
}

.event-input {
    width: 25%;
    min-width: 400px;

    height: 40px;
    border: solid 1px gray;
    border-radius: 8px;
    background-color: white;
    
    font-size: 15px;
}

.setlist-container {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.setlist {
    display: flex;
    flex-direction: column;
    gap: 10px;

    flex-wrap: wrap;
    width: fit-content;
}

.setlist-wrap {
    height: 90%;
}

.setlist-wrap .setlist {
    height: 100%;
    flex-wrap: wrap;
}

@-moz-document url-prefix() {
    .setlist-container.setlist-wrap {
        width: 90%;
    }
    .setlist-wrap .setlist {
        width: 100%; 
        flex-direction: row;  
    }
}

.setlist-title {
    width: 100%;
    height: 60px;

    font-size: 30px;
 
    padding: 4px 10px 4px 10px;
    box-sizing: border-box;

    display: flex;
    justify-content: center;
    align-items: center;

}

.station-title {
    background-color: rgb(96, 107, 255);
    color: black;
}

.stream-title {
    background-color: rgb(227, 85, 255);
    color: black;
}

.loading-display-container {
    height: 100%;
    justify-content: center;
}