body {
    font-family: "Roboto", "Helvetica";
}

.main {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

.content {
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;

    opacity: 100%;
    
}

.header {
    transition-property: all;
    transition-duration: 0.5s;
}

#mode-select{
    display: none;
    opacity: 0;

    z-index: 12;

    height: 50vh;
    width: 60vw;
    max-width: 80%;

    flex-direction: column;

}

.mode-area {
    width: 100%;
    height: calc(50% - 40px);
    background-color: #eeeeee;
    border-radius: 10px;
    margin-bottom: 20px;

    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    padding: 15px;
}

.mode-area-title {
    font-size: 30px;
    font-weight: bold;
}

.mode-area-inputs-container {
    width: 60%;
    min-width: 400px;
    height: 40%;

    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 20px;
}

.mode-area-button {
    width: 50px;
    height: 100%;
    font-size: 15px;
}

#player-mode .mode-area-inputs-container {
    min-width: 350px;
    width: 350px;
}

.mode-area-input {
    border: solid 1px gray;
    border-radius: 10px;
    background-color: white;
    width: 100%;
}

.title {
    font-weight: bolder;
    font-size: 50px;
}

.subtitle {
    font-weight: bold;
    font-size: 30px;
}

.logo {
    width: 80px;
    height: 80px;
    margin: 10px;
}

.separator {
    min-width: 40%;
    max-width: 60%;
    height: 0%;
    
    border: solid 2px grey;

    margin-top: 15px;
    margin-bottom: 15px;
}

.disclaimer {
    width: 600px;
    max-width: 80%;
}

.button {
    background-color: #3F80FF;
    border: none;

    border-radius: 10px;

    font-family: Roboto, Helvetica;
    font-weight: bold;
    color: white;
}

#start-button {
    width: 150px;
    height: 60px;
    font-size: 39px;
}

.button:hover {
    background-color: #6F90FF;
    cursor: pointer;
}