:root {
    --bg-color: #eeeeee;
    --set-border-color: #E6E6E6;
    --set-bg-color: white;
}

body {
    font-family: Roboto, Helvetica, sans-serif;
}

.notif-bar {
    position: absolute;
    top: 15px;
    left: 15px;
    height: fit-content;
    width: fit-content;
    padding: 10px;
    font-size: 20px;
    font-weight: bold;

    background-color: lightblue;
    border-bottom-right-radius: 10px;

    display: none;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}