.result-content {
    margin-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 65%;
    max-width: 960px;
    min-width: 500px;

}

.loading-container {
    display: flex;
    flex-direction: column;
    height: 800px;
    align-items: center;
}

.loader {
    border-radius: 50%;
    border-top: 13px solid black;
    border-bottom: 13px solid transparent;
    border-left: 13px solid black;
    border-right: 13px solid black;
    width: 50px;
    height: 50px;
    animation: spinner 2s linear infinite;
}
  
@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    margin-top: 20px;
    width: 50%;
    min-width: 400px;
    max-width: 600px;
}

.result {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    border: 1px solid grey;
    padding: 10px;
}
