@font-face {
    font-family: Neuropolitical;
    src: url("../assets/neuropolitical.otf");
}

body {
    background-color: #E7E9EC;
    margin: 0;
    padding: 0;
}

.content {
    background-color: white;
}

.result-content {
    padding-top: 50px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 100%;
}

.loading-container {
    display: flex;
    flex-direction: column;
    height: 800px;
    align-items: center;
}

.loader {
    border-radius: 50%;
    border-top: 13px solid black;
    border-bottom: 13px solid transparent;
    border-left: 13px solid black;
    border-right: 13px solid black;
    width: 50px;
    height: 50px;
    animation: spinner 2s linear infinite;
}
  
@keyframes spinner {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

.loading-text {
    margin-top: 20px;
    width: 50%;
    min-width: 400px;
    max-width: 600px;
}

.result {
    display: flex;
    flex-direction: column;
    gap: 5px;
    align-items: flex-start;
    border: 1px solid grey;
    padding: 10px;
}

.closed {
    display: none;
}

.entry-title {
    font-weight: bold;
    cursor: pointer;
}

.entry-details {
    display: none;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.entry-details.open {
    display: flex;
}

.dropdown-button-sideways {
    display: inline-block;
    margin-right: 5px;
    transition: all 0.3s ease;
}

.open .dropdown-button-sideways {
    transform: rotate(90deg);
}

.sggt-outer-container {
    position: absolute;
    top: 10px;
    left: 10px;

    display: flex;
    flex-direction: column;
}

.sggt-inner-container {
    display: flex;
    flex-direction: row;
    align-items: center;

    text-decoration: none;
}

.sggt {
    font-size: 40px;
    font-family: Neuropolitical;
    font-weight: 600;
    color: black;
    text-decoration: none;
}

.logo {
    height: 40px;
}

.pub {
    font-size: 20px;
}

.cross-button {
    cursor: pointer;
}