.form-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;

    width: 65%;
    max-width: 960px;
    min-width: 500px;

}

.form-center {
    height: 100%;
}

.form-top {
    gap:12px;
}

.title {
    font-weight: bolder;
    font-size: 50px;
}

#event {
    width: 100%;
    max-width: 600px;
}

.time-inputs-container {
    display: flex;
    gap: 5px;
    flex-direction: column;
    align-items: flex-start;
}

.weeksInput {
    width: 60px;
}

#GO {
    width: 75px;
    height: 30px;
}