
.set {
    border: solid 5px;
    width: 300px;
    height: 100px;
    background-color: var(--set-bg-color);

    display: flex;
    flex-direction: row;
    box-sizing: border-box;
}

.set-infobox {
    height: 100px;
    width: 80px;
    min-width: 100px;

    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 20px;
}

.set-infobox-started {
    background-color: #0D8225;
}

.set-infobox-called {
    background-color: #FFD500;
}

.players-container {
    min-width: 200px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.player {
    height: 50%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerName {
    font-size: 20px;
    padding-left: 10px;
    padding-right: 10px;

    overflow: hidden;
}

.p2 {
    border-top: 2px solid var(--set-border-color);
}

.called {
    border: solid var(--set-border-color);
}

.started {
    border: solid var(--set-border-color);
}